@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lato:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: #00CED1 !important;
  background: rgba(255, 255, 255, 0.1);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  backdrop-filter: blur(4px);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.2);
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px theme('colors.cyan.300');
}